@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container-halaman-kategori{
    margin-top: 150px;
    display: flex;
    height: 600px;
    width: 100%;
    position: absolute;
}



.semua-kategori{
    margin-top: 50px;
    margin-left: 30px;
    height: 500px;
    width: 10%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.konten-product{
    margin-top: 50px;
    height: 500px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #c3c3c3;
}


.kategori-header{
    display: flex;
    font-size: 20px;
    border-bottom: 1px solid #c3c3c3;
    width: 95%;
}
.kategori-header h1{
    font-size: 16px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.kategori-header svg{
    margin-top: 2px;
}


.kategori-link{
    display: flex;
    flex-direction: column;
    margin-top:20px ;

    
   
}

.kategori-link a{
    color: black;
    text-decoration: none;
    padding-bottom:15px;
    padding-left:10px;
    
}


.kategori-link a:hover{
    color: rgb(94, 89, 116);
    

}


.product-box{
    height: 300px;
    border-radius: 20px;
    width: 15%;
    margin: 0px 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.konten-foto{
    height: 150px;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #c3c3c3;
    
    
    
}

.konten-foto img{
    height: 120px;
    margin-top:20px ;
}

.product-text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 120px;
    padding: 10px;
    
}

.product-text h3{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.product-text h4{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    
}

.button-beli{
    background-color: #15234A ;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 30px;
}
.button-beli a{
    text-decoration: none;
    color: white;
}


@media screen and (max-width: 768px){
    .container-halaman-kategori{
        z-index: -2;
    }
    .product-box{
        width: 40%;
        margin: 20px 20px;
    }
    .konten-product{
        margin-left: 50px;
    }
    
}